//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 10 13:46:15 2020
//! **************************************************************************

SCHEMATIC START;
COMP "IN_IKUY" LOCATE = SITE "P55" LEVEL 1;
COMP "OUT1" LOCATE = SITE "P24" LEVEL 1;
SCHEMATIC END;

