//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 05 13:28:46 2020
//! **************************************************************************

SCHEMATIC START;
COMP "B_in<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "clk20MHz" LOCATE = SITE "P123" LEVEL 1;
COMP "B_in<1>" LOCATE = SITE "P100" LEVEL 1;
COMP "B_in<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "B_in<3>" LOCATE = SITE "P102" LEVEL 1;
COMP "B_in<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "B_in<5>" LOCATE = SITE "P105" LEVEL 1;
COMP "B_in<6>" LOCATE = SITE "P111" LEVEL 1;
COMP "B_in<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "A_in<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "A_in<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "A_in<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "A_in<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "A" LOCATE = SITE "P41" LEVEL 1;
COMP "B" LOCATE = SITE "P40" LEVEL 1;
COMP "A_in<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "C" LOCATE = SITE "P35" LEVEL 1;
COMP "D" LOCATE = SITE "P34" LEVEL 1;
COMP "A_in<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "E" LOCATE = SITE "P32" LEVEL 1;
COMP "F" LOCATE = SITE "P29" LEVEL 1;
COMP "A_in<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "G" LOCATE = SITE "P27" LEVEL 1;
COMP "A_in<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "com0" LOCATE = SITE "P44" LEVEL 1;
COMP "com1" LOCATE = SITE "P43" LEVEL 1;
COMP "com2" LOCATE = SITE "P33" LEVEL 1;
COMP "com3" LOCATE = SITE "P30" LEVEL 1;
COMP "Select_SW" LOCATE = SITE "P45" LEVEL 1;
PIN Select_SW_pin<0> = BEL "Select_SW" PINNAME PAD;
PIN "Select_SW_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

