NET "seg[0]" LOC = P41;
NET "seg[1]" LOC = P40;
NET "seg[2]" LOC = P35;
NET "seg[3]" LOC = P34;
NET "seg[4]" LOC = P32;
NET "seg[5]" LOC = P29;
NET "seg[6]" LOC = P27;

NET "common0" LOC = P44;
NET "common1" LOC = P43;
NET "common2" LOC = P33;
NET "common3" LOC = P30;